@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
}

main {
  min-height: 100vh;
  padding: 2rem;
  display: grid;
  place-items: center;
}

section {
  background: hsl(244, 38%, 16%);
  border-radius: 5px;
  max-width: 350px;
}

.picture {
  background-image: linear-gradient(
      0deg,
      hsla(277, 81%, 34%, 0.6),
      hsla(277, 81%, 34%, 0.6)
    ),
    url("./images/image-header-mobile.jpg");
  height: 14rem;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.stats {
  padding: 3rem 1rem;
  text-align: center;
}

.stats h1 {
  font-size: 1.8rem;
  padding-bottom: 2rem;
}

.stats h1 span {
  color: hsl(277, 64%, 61%);
}

.stats p {
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.6);
  word-spacing: 2px;
  line-height: 1.6;
  padding-bottom: 3rem;
}

.stats ul {
  list-style: none;
}

.stats ul li:not(:last-child) {
  padding-bottom: 2.4rem;
}

.stats ul li span:first-child {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.stats ul li span:last-child {
  font-size: 12px;
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  letter-spacing: 1px;
}

@media (min-width: 800px) {
  main {
    padding: unset;
  }

  section {
    display: grid;
    grid-template-columns: 1fr 540px;
    column-gap: 1rem;
    max-width: 1000px;
  }

  section .picture {
    grid-row: 1;
    grid-column: 2 / -1;
  }

  .picture {
    background-image: linear-gradient(
        0deg,
        hsla(277, 81%, 34%, 0.6),
        hsla(277, 81%, 34%, 0.6)
      ),
      url("./images/image-header-desktop.jpg");
    background-size: cover;
    border-top-left-radius: unset;
    border-bottom-right-radius: 5px;
    height: auto;
  }

  .stats {
    text-align: unset;
    padding: 4rem 6rem 4rem 4rem;
  }

  .stats h1 {
    font-size: 2rem;
  }

  .stats p {
    font-size: 13px;
    padding-bottom: 4rem;
  }

  .stats ul {
    display: flex;
    gap: 4rem;
  }

  .stats ul li:not(:last-child) {
    padding: unset;
  }
}

footer {
  text-align: center;
  font-size: 1.6rem;
}
